 <div class="soundcloudBG"></div>
 <% @sounds.each do |sound| %>

  <% if sound.iframe_html %>
    <div class="bubble" id="soundcloudBubble"></div>
    <%= raw sound.iframe_html.html %>
  <% end %>

<% end %>


