<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>Active Accounts</strong></p>
    <div class="authentications">
      <% for authentication in @authentications %>
        <div class="authentication">
          <%= image_tag "", :id => "#{authentication.provider}Bubble", :class => "bubble" %>
          <!-- <div class="provider"><%= authentication.provider.titleize %></div> -->
          <!-- <div class="uid"><%= authentication.uid %></div> -->
          <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
        </div>
      <% end %>
      <!-- <div class="clear"></div> -->
    </div>
  <% end %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<a href="/auth/twitter" class="bubble float" id="twitterBubble"></a>
<a href="/auth/facebook" class="bubble float" id="facebookBubble"></a>
<a href="/auth/google_apps" class="bubble float" id="youtubeBubble"></a>
<a href="/auth/instagram" class="bubble float" id="instagramBubble"></a>
<div class="clear"></div>










