/********** Font Face **********/
@font-face {
  font-family:MeshFont;
  src:url(HelveticaUltraLight.otf);
}

body {
  overflow:hidden !important;
}

a {
  text-decoration:none;
  color:white;
}

/********** Background Styles *********/
#background img {
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  margin: -5px -10px -10px -5px;
  position:absolute;
  right:2px;
}

#background {
  z-index:-1;
  overflow:hidden;
}

/********** Header Styles *********/
#header {
  position:fixed;
  top:0;
  height:50px;
  z-index:9999;

  background: #5813d7 !important; /* Old browsers */
  background: -moz-linear-gradient(left,  #5813d7 0%, #5c17b9 23%, #7438d7 52%, #5a3ae2 77%, #7232d1 100%) !important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5813d7), color-stop(23%,#5c17b9), color-stop(52%,#7438d7), color-stop(77%,#5a3ae2), color-stop(100%,#7232d1)) !important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #5813d7 0%,#5c17b9 23%,#7438d7 52%,#5a3ae2 77%,#7232d1 100%) !important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #5813d7 0%,#5c17b9 23%,#7438d7 52%,#5a3ae2 77%,#7232d1 100%) !important; /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #5813d7 0%,#5c17b9 23%,#7438d7 52%,#5a3ae2 77%,#7232d1 100%) !important; /* IE10+ */
  background: linear-gradient(to right,  #5813d7 0%,#5c17b9 23%,#7438d7 52%,#5a3ae2 77%,#7232d1 100%) !important; /* W3C */ 
}

#mesh {
  color:white;
  text-decoration:none;
  font-family:MeshFont;
  font-size:34px;
  line-height:50px;
  margin-left:0.5em;
  opacity:0.8;
}

#mesh:hover {
  opacity:1;
  transition:0.5s;
}

#userarea {
  float:right;
  text-align:right;
}

#usericon {
  width:25px;
  height:50px;
  margin-right:1em;
  opacity:0.5;
}

#usericon:hover {
  opacity:1;
  transition:0.5s;
  cursor:pointer;
}

/******** Sidebar/Content Styles *********/
#sidebar {
  background:grey;
  opacity:0.9;
  position:absolute;
  top:0;
  min-height:1000px;
  margin-top:50px;
}

#content {
  background:lightgrey;
  position:absolute;
  top:0;
  right:0;
  opacity:0.7;
  height:1000px;
  text-align:center;
  font-size:34px;
  font-family:MeshFont;
  color:black;
  margin-top:50px;
}

/********* Login Form Styles *************/
.loginform {
  width:35%;
  margin:0 auto;
  height:400px;
  border-radius:15px;
  background:rgba(1,1,1,0.1);
}

.login {
  width:100%;
  position:relative;
  margin:0 auto;
  top:16%;
}

.registerText {
  font-size:18px;
  letter-spacing: 0.1em;
}

.registerLink {
  text-decoration:none;
  color:white;
}

.registerLink:hover {
  color:#3918bd;
  transition:0.3s;
}

input[type="text"]{
  font-family:MeshFont;
  border:none;
  letter-spacing: 0.03em;
}

input[type="password"]{
  font-family:MeshFont;
  border:none;
  letter-spacing: 0.03em;
}

::-webkit-input-placeholder {
  padding-left:0.3em;
}

:-moz-placeholder {
  padding-left:0.3em;
}

:-ms-input-placeholder {
  padding-left:0.3em;
}

#loginBTN {
  background:#725ec2;
}

#loginBTN:hover {
  background:#5b3ae2;
  transition:0.3s;
}

/******** Sidebar Tab Styles **********/
#facebookTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/facebooktab.svg') left no-repeat;
  letter-spacing: 0.03em;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#facebookTab:hover {
  color:white;
}

#facebookTab:before {
  content: "";
  position: absolute;
  background:#507BBE;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#facebookTab:hover:before {
  right: 0;
}

#facebookTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#twitterTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/twittertab.svg') left no-repeat;
  letter-spacing: 0.05em;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#twitterTab:hover {
  color:white;
}

#twitterTab:before {
  content: "";
  position: absolute;
  background:#64CCEF;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#twitterTab:hover:before {
  right: 0;
}

#twitterTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#linkedinTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/linkedintab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#linkedinTab:hover {
  color:white;
}

#linkedinTab:before {
  content: "";
  position: absolute;
  background:#3397D3;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#linkedinTab:hover:before {
  right: 0;
}

#linkedinTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#instagramTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/instagramtab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#instagramTab:hover {
  color:white;
}

#instagramTab:before {
  content: "";
  position: absolute;
  background:#465CA9;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#instagramTab:hover:before {
  right: 0;
}

#instagramTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#pinterestTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/pinteresttab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#pinterestTab:hover {
  color:white;
}

#pinterestTab:before {
  content: "";
  position: absolute;
  background:#F16260;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#pinterestTab:hover:before {
  right: 0;
}

#pinterestTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#deviantartTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/deviantarttab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#deviantartTab:hover {
  color:white;
}

#deviantartTab:before {
  content: "";
  position: absolute;
  background:#94A494;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#deviantartTab:hover:before {
  right: 0;
}

#deviantartTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#youtubeTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/youtubetab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#youtubeTab:hover {
  color:white;
}

#youtubeTab:before {
  content: "";
  position: absolute;
  background:#E01E26;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#youtubeTab:hover:before {
  right: 0;
}

#youtubeTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#soundcloudTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/soundcloudtab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#soundcloudTab:hover {
  color:white;
}

#soundcloudTab:before {
  content: "";
  position: absolute;
  background:#EE743D;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#soundcloudTab:hover:before {
  right: 0;
}

#soundcloudTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#tumblrTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/tumblrtab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#tumblrTab:hover {
  color:white;
}

#tumblrTab:before {
  content: "";
  position: absolute;
  background:#4D7DA1;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#tumblrTab:hover:before {
  right: 0;
}

#tumblrTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#redditTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:75px;
  z-index:9998;
  background:#B7B7B7 url('images/reddittab.svg') left no-repeat;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#redditTab:hover {
  color:white;
}

#redditTab:before {
  content: "";
  position: absolute;
  background:#000000;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  -webkit-transition: right 0.15s linear;
}

#redditTab:hover:before {
  right: 0;
}

#redditTab p {
  height:75px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:left;
  margin-left:2.5em;
  font-family:MeshFont;
  font-size:30px;
  cursor:pointer;
}

#addTab {
  position:relative;
  display:block;
  overflow:hidden;
  width:100%;
  height:100px;
  z-index:9998;
  background:#B7B7B7;
  transition:         1s linear;
  -o-transition:      1s linear;
  -ms-transition:     1s linear;
  -moz-transition:    1s linear;
  -webkit-transition: 1s linear;
}

#addTab:hover {
  color:white;
}

#addTab:before {
  content: "";
  position: absolute;
  background:grey;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.15s linear;
}

#addTab:hover:before {
  top: 0;
}

#addTab p {
  height:100px;
  margin:0;
  line-height:75px;
  color:white;
  text-align:center;
  font-family:MeshFont;
  font-size:50px;
  cursor:pointer;
}

/******* Bubble Styles **********/
.bubble {
  display: inline-block;
  width: 225px;
  height: 225px;
  border-radius: 50%;
  position:relative;
  overflow: hidden;
  cursor:pointer;
}

.bubble:before {
   content: "";
   width: 300%;
   height: 300%;
   border-radius:50%;
   position:absolute;
   top:-300%;
   left:-325%;

   background-image: -webkit-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0)); 
   background-image: -moz-linear-gradient(135deg, rgba(255,255,255,0), rgba(255,255,255,0.6), rgba(255,255,255,0));  
    
   -moz-transition: all 0.3s linear; 
   -o-transition: all 0.3s linear; 
   -webkit-transition: all 0.3s linear;
   -ms-transition: all 0.3s linear;
}

.bubble:hover:before {
  top: 300%;
  left: 300%;   
}

.bubble:active:before {
  animation: signal-burst 2s infinite linear;
}

#facebookBubble {
  background:#507BBE url('images/facebooktab.svg');
  position:relative;
  top:1em;
  left:9em;
}

#twitterBubble {
  background:#64CCEF url('images/twittertab.svg');
  position:relative;
  top:1em;
  left:20em;
}

#linkedinBubble {
  background:#3397D3 url('images/linkedintab.svg');
  position:relative;
  top:14.5em;
  left:4.5em;
}

#instagramBubble {
  background:#465CA9 url('images/instagramtab.svg'); 
  position:relative;
  top:5em;
  left:-2.5em;
}

#pinterestBubble {
  background:#F16260 url('images/pinteresttab.svg');
  position:relative;
  top:6em;
  left:-27em;
}

#deviantartBubble {
  background:#94A494 url('images/deviantarttab.svg');
  position:relative;
  top:10.5em;
  left:9.3em;
}

#youtubeBubble {
  background:#E01E26 url('images/youtubetab.svg');
  position:relative;
  top:2.2em;
  left:2.3em;
}

#soundcloudBubble {
  background:#EE743D url('images/soundcloudtab.svg');
  position:relative;
  top:2.2em;
  left:13.2em;
}

#tumblrBubble {
  background:#4D7DA1 url('images/tumblrtab.svg');
  position:relative;
  top:7.5em;
  left:-20em;
}

#redditBubble {
  background:#000000 url('images/reddittab.svg');
  position:relative;
  top:10.5em;
  left:-0.5em; 
}

.facebook {
  width:100%;
  height:800px;
  position:absolute;
  background:blue;
}