<!-- <h1>Instagram</h1> -->
<div class="instagramBG">
  <%= render 'form' %>

  <% @instas.each do |pictures| %>
    <img src = <%= pictures.images.thumbnail.url %> class="instagramIMG"> 
  <% end %>

  <div>
  <h1>Home Timeline</h1><% @insta_newsfeed.each do |pictures| %>
      <img src = <%= pictures.images.thumbnail.url %>> 
    <% end %>
  </div>
</div>