<h1>Instagram</h1>
<% @instas.each do |pictures| %>
  <img src = <%= pictures.images.thumbnail.url %>> 
<% end %>

<div>
  <h1>newshit</h1><% @insta_newsfeed.each do |pictures| %>
    <img src = <%= pictures.images.thumbnail.url %>> 
  <% end %>
</div>
