<div class="one">
<h1 class="one">Search Results:</h1>
<%= @media_item.each do |pictures| %>
<%= image_tag pictures["images"]["thumbnail"]["url"] %>
<h3 class="shit"> <%= pictures["user"]["username"]%> </h3>
<% end %> 
</div>


