.tweets {
  width:100%;
  min-height:50px;
  margin-bottom:0.5em;
  background:#58a2e5;
  position:relative;
}

.tweets img {
    border:0;
    display:block;
    border-radius:20%;
    width:60px;
    position:relative;
    top:-40px;
    left:20px;
  }

.tweets small {
    text-align:left;
    display:block;
    position:relative;
    color:white;
    font-size:18px;
    left:90px;
    top:60px;
  }

#tweet {
  color:white;
  font-size:20px;
}

.twitterBG {
  width:100%;
  height:100%;
  background:#64CCEF;
  z-index:-1;
  opacity:1;
  position:absolute;
}

#twitterUN {
  color:black;
  top:0;
  left:0;
  margin:0;
  position:relative;
  text-align:left;
  padding-top:15px;
}

#twitterHD {
  color:black;
  top:0;
  left:0;
  margin:0;
  position:relative;
  text-align:left;
  font-size:12px;
  padding-bottom:15px;
}

#twitterPF {
  width:48px;
  height:48px;
  border-radius:20% !important;
  position:relative;
  float:left;
  line-height:48px !important;
  margin:15px;
}

#twitterIMG {
  max-width:400px;
  max-height:400px;
  position:relative;
}

#twitterTXT {
  font-size:18px;
  position:relative;
}

.twitterNV {
  display:block;
  height:100px;
}

#twitterHM {
  color:white;
  background:#58a2e5;
  text-align:center;
  display:block;
  position:relative;
  top:-85px;
  left:425px;
  width:110px;
  height:50px;
  line-height:50px;
  margin:0;
}

#twitterTL {
  color:white;
  background:#58a2e5;
  text-align:center;
  display:block;
  position:relative;
  top:-135px;
  left:660px;
  width:120px;
  height:50px;
  line-height:50px;
  margin:0;
}

#twitterTW {
  width:100%;
  display:block;
  position:relative;
  right:18px;
}

.postTweet {
  text-align:center;
  width:300px;
  position:relative;
  margin:0 auto;
  right:6px;

  textarea {
    border:none;
    font-family:MeshFont;
    font-size:22px;
    width:350px;
    resize:none;
  }

  input[type="submit"] {
    margin-top:10px;
    background:#58a2e5;
    width:100px;
    height:30px;
    font-size:15px;
    position:relative;
    left:21px;
  }
}

.searchTweet {
  position:relative;
  top:180px;
  right:25px;

  form {
    text-align:right;
    position:relative;
    display:inline-block;
    top:-460px;
    left:460px;
  }

  input[type="text"] {
    width:200px;
    height:25px;
    padding:0;
    font-size:14px;
  }

  input[type="submit"] {
    width:75px;
    height:25px;
    padding:0;
    position:relative;
    font-size:14px;
    background:#58a2e5;
  }
}