.tweets {
  width:100%;
  min-height:50px;
  margin-bottom:0.5em;
  background:white;
  position:relative;

  :last-child {
    margin-bottom:0;
  }
}

.twitterBG {
  width:100%;
  height:100%;
  background:#64CCEF;
  z-index:-1;
  opacity:1;
  position:absolute;
}

#twitterUN {
  color:black;
  top:0;
  left:0;
  margin:0;
  position:relative;
  text-align:left;
  padding-top:15px;
}

#twitterHD {
  color:black;
  top:0;
  left:0;
  margin:0;
  position:relative;
  text-align:left;
  font-size:12px;
  padding-bottom:15px;
}

#twitterPF {
  width:48px;
  height:48px;
  border-radius:20% !important;
  position:relative;
  float:left;
  line-height:48px !important;
  margin:15px;
}

#twitterIMG {
  max-width:400px;
  max-height:400px;
  position:relative;
}

#twitterTXT {
  font-size:18px;
  position:relative;
}

.twitterNV {
  display:block;
}

#twitterHM {
  color:white;
  background:#2b397e;
  text-align:center;
  display:block;
  position:relative;
  top:-85px;
  left:425px;
  width:110px;
  height:50px;
  line-height:50px;
  margin:0;
}

#twitterTL {
  color:white;
  background:#2b397e;
  text-align:center;
  display:block;
  position:relative;
  top:-135px;
  left:700px;
  width:110px;
  height:50px;
  line-height:50px;
  margin:0;
}

.postTweet {
  text-align:right;
}